body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

@media screen and (max-width: 980px) {
.masthead {
position: static;
}
.sidebar {
max-width: 100%;
}

@media screen and (max-width: 768px) {
.masthead {
position: static;
}
.sidebar {
max-width: 100%;
}

@media screen and (max-width: 640px) {
.masthead {
position: static;
}
.sidebar {
max-width: 100%;
}

}